/******************/
/* ZEBRA SETTINGS */
/******************/
$site-width: 1400px;

/* RESET FONT SIZE */
$enable-reset-font: false;
$reset-font-size: 16px;

/* COLUMN FRACTIONS */
$columns: 5, 8, 12;

/* POSITIONING */
$enable-offset: true;
$enable-push: false;
$enable-pull: false;

/* SPACING */
$enable-padding: false;
$enable-margin: false;
$spacings: 10, 25;

/* GRIDS */
$enable-grids: true;
$grid-columns: 1,2, 3, 4;

/* GUTTERS */
$enable-gutters: true;
$gutter-sizes: 10, 15;

/* RESPONSIVE  */
$enable-responsive: true;
$mobile-first: false;
$media-widths: 435, 500, 599, 768, 1024;
$media-width-names: xs, s, m, l, xl;