/******************/
/* ZEBRA SETTINGS */
/******************/





/***********************/
/* RESPONSIVE SETTINGS */
/***********************/

    // Enable/Disable the output of classes within media queries
    $zeb-enable-responsive: true !default;

    // Enable/Disable mobile first media queries
    $zeb-mobile-first: true !default;

    // Media query breakpoints
    $zeb-media-widths: 435, 500, 599, 768, 1024 !default; // Numeric value of the unit type set below
    $zeb-media-width-names: xs, s, m, l, xl !default; // Aliases for the media query breakpoints

    // Media query unit type
    $zeb-media-unit: "px" !default;

/* RESPONSIVE SETTINGS END */





/**************************/
/* BROWSER RESET SETTINGS */
/**************************/

    $zeb-enable-browser-reset: true !default;
    $zeb-box-sizing: true !default;

/* BROWSER RESET SETTINGS END */





/*******************/
/* HELPER SETTINGS */
/*******************/

    // Max site width (used by both .site-wrapper and .row--contained)
    $zeb-site-width: 1400px !default;

/* HELPER SETTINGS END */





/*******************/
/* HIDDEN SETTINGS */
/*******************/

    // Enable/disable the output of classes that hide elements
    $zeb-enable-hidden: true !default;

/* HIDDEN SETTINGS END */





/*******************/
/* COLUMN SETTINGS */
/*******************/

    // Column fractions
    $zeb-columns: 5, 8, 12 !default;

    // Column class format
    $zeb-format--col: "-" !default; // This is the separator used between column values in a column class for example. If this setting were "-foo-" then column classes would be .col--6-foo-12

    // Enable/disable the font size reset. We advise you to declare font sizes on all elements yourself, as rows will set font sizes to 0 to remove white space.
    // This setting will add a default font size back to columns, meaning that any elements within a column that don't have a specified font size will inherit one (otherwise they won't show up!)
    $zeb-enable-reset-font: true !default;
    $zeb-reset-font-size: 18px !default;

/* COLUMN SETTINGS END */





/************************/
/* POSITIONING SETTINGS */
/************************/

    // Enable/disable the output of offset classes
    $zeb-enable-offset: false !default;

    // Enable/disable the output of push classes
    $zeb-enable-push: false !default;

    // Enable/disable the output of pull classes
    $zeb-enable-pull: false !default;

/* POSITIONING SETTINGS END */





/************************/
/* SPACING SETTINGS */
/************************/

    // Numeric values for padding and margin classes
    $zeb-spacings: 10, 25 !default;

    // Spacing unit type
    $zeb-spacing-unit: "px" !default;

    // Enable/disable the output of padding classes
    $zeb-enable-padding: true !default;

    // Enable/disable the output of margin classes
    $zeb-enable-margin: true !default;


/* SPACING SETTINGS END */






/* GRIDS */
$zeb-enable-grids: true !default;
$zeb-safe-grid-classes: false !default;
$zeb-grid-columns: 2, 3, 4 !default;

/* GUTTERS */
$zeb-enable-gutters: true !default;
$zeb-gutter-sizes: 10, 25 !default;