/******************/
/* ZEBRA SETTINGS */
/******************/
$site-width: 1400px;
$font-size-base: 18px;
$column-spans: 2 3 4 10;
$enable-offset: true;
$enable-push: false;
$enable-pull: false;

/**************************/
/* ROWS AND ROW MODIFIERS */
/**************************/
.row {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    &--contained {
    	max-width: $site-width;
    }
	&--flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

/**********************/
/* COLUMN BASE STYLES */
/**********************/
@for $i from 1 through 9 {
	[class*='col--#{$i}'] {
		position: relative;
		display: inline-block;
		vertical-align: top;
		font-size: $font-size-base;
	}
}

/************/
/* COLUMNS */
/***********/
.col {
	/* COLUMN SIZES */
	@each $column-span in $column-spans {
		@for $span from 1 through $column-span {
			&--#{$span}of#{$column-span} {
				width: percentage($span/$column-span);
			}
		}
	}
	@if $enable-offset {
		@each $column-span in $column-spans {
			@for $span from 1 through $column-span {
				&--offset-#{$span}of#{$column-span} {
					margin-left: percentage($span/$column-span);
				}
			}
		}
	}
	@if $enable-push {
		@each $column-span in $column-spans {
			@for $span from 1 through $column-span {
				&--offset-#{$span}of#{$column-span} {
					left: percentage($span/$column-span);
				}
			}
		}
	}
	@if $enable-pull {
		@each $column-span in $column-spans {
			@for $span from 1 through $column-span {
				&--offset-#{$span}of#{$column-span} {
					right: percentage($span/$column-span);
				}
			}
		}
	}
	/* COLUMN MODIFIERS */
	&--flex {
		&-col {
			display: flex;
			flex-direction: column;
			> * {
				flex: 1;
			}
		}
		&-row {
			display: flex;
			flex-direction: row;
			> * {
				flex: 1;
			}
		}
	}
	&--extend {
		&-left, &-both {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
		&-right, &-both {
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
	}
}