/******************/
/* ZEBRA SETTINGS */
/******************/
$site-width: 1400px;
$font-size-base: 18px;
$max-columns: 12;

/**************************/
/* ROWS AND ROW MODIFIERS */
/**************************/
.row {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    &--contained {
    	max-width: $site-width;
    }
	&--flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

/**********************/
/* COLUMN BASE STYLES */
/**********************/
@for $i from 1 through 9 {
	[class*='col--#{$i}'] {
		position: relative;
		display: inline-block;
		vertical-align: top;
		font-size: $font-size-base;
	}
}

/************/
/* COLUMNS */
/***********/
.col {
	/* COLUMN SIZES */
	@for $span from 1 through $max-columns {
		@for $total from 1 through $max-columns {
			@if $total > $span {
				&--#{$span}of#{$total} {
					width: percentage($span/$total);
				}
				&--offset-#{$span}of#{$total} {
					margin-left: percentage($span/$total);
				}
				&--push-#{$span}of#{$total} {
					left: percentage($span/$total);
				}
				&--pull-#{$span}of#{$total} {
					right: percentage($span/$total);
				}
			}
		}
	}
	/* COLUMN MODIFIERS */
	&--flex {
		&-col {
			display: flex;
			flex-direction: column;
			> * {
				flex: 1;
			}
		}
		&-row {
			display: flex;
			flex-direction: row;
			> * {
				flex: 1;
			}
		}
	}
	&--extend {
		&-left, &-both {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
		&-right, &-both {
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
	}
}