/******************/
/* ZEBRA SETTINGS */
/******************/
$site-width: 1400px;
$columns: 1, 2, 3, 4, 12;
$enable-offset: true;
$enable-push: false;
$enable-pull: false;

/**************************/
/* ROWS AND ROW MODIFIERS */
/**************************/
.row {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    &--contained {
    	max-width: $site-width;
    }
	&--flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

/**********************/
/* COLUMN BASE STYLES */
/**********************/
@for $i from 1 through 9 {
	[class*='col--#{$i}'] {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
}

/************/
/* COLUMNS */
/***********/
.col {
	/* COLUMN SIZES */
	@each $column-count in $columns {
		@for $span from 1 through $column-count {
			&--#{$span}of#{$column-count} {
				width: percentage($span/$column-count);
			}
		}
	}
	@if $enable-offset {
		@each $column-count in $columns {
			@for $span from 1 through $column-count {
				&--offset-#{$span}of#{$column-count} {
					margin-left: percentage($span/$column-count);
				}
			}
		}
	}
	@if $enable-push {
		@each $column-count in $columns {
			@for $span from 1 through $column-count {
				&--offset-#{$span}of#{$column-count} {
					left: percentage($span/$column-count);
				}
			}
		}
	}
	@if $enable-pull {
		@each $column-count in $columns {
			@for $span from 1 through $column-count {
				&--offset-#{$span}of#{$column-count} {
					right: percentage($span/$column-count);
				}
			}
		}
	}
	/* COLUMN MODIFIERS */
	&--flex {
		&-col {
			display: flex;
			flex-direction: column;
			> * {
				flex: 1;
			}
		}
		&-row {
			display: flex;
			flex-direction: row;
			> * {
				flex: 1;
			}
		}
	}
	&--extend {
		&-left, &-both {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
		&-right, &-both {
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 100%;
				width: $site-width;
				height: 100%;
				background-color: inherit;
			}
		}
	}
}